In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings. filterwarnings('ignore')

# 1. Definindo cabeçalho da requisição

In [3]:
url = 'https://www.fundsexplorer.com.br/ranking'

In [4]:
response = requests.get(url)
if response.status_code == 200:
    df = pd.read_html(response.content, encoding='utf-8')[0] 
#[0] é para pegar diretamente o DataFrame, caso contrário vem uma lista. Poderia ser colocado depois também: df[0]

# 2. Exploração Inicial dos Dados

In [5]:
df.sort_values('Código do fundo', inplace=True)
df

,Código do fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,DY (3M) Média,...,Patrimônio Líq.,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. no Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira,Quantidade Ativos
222,AAZQ11,NaN,"R$ 9,80",44222.0,"R$ 0,14","1,46%","4,39%","0,00%","0,00%","1,46%",...,"R$ 230.646.828,88","R$ 9,60",102.0,"1,46%","-0,15%","1,30%","4,25%",NaN,NaN,0
174,ABCP11,Shoppings,"R$ 68,72",467.0,"R$ 0,50","0,73%","2,29%","4,59%","9,26%","0,76%",...,"R$ 432.278.740,15","R$ 91,80",75.0,"0,54%","0,11%","0,65%","2,52%","7,50%",NaN,1
306,AFHI11,Títulos e Val. Mob.,"R$ 95,60",6134.0,"R$ 1,10","1,15%","3,45%","6,61%","13,90%","1,15%",...,"R$ 286.309.475,82","R$ 94,82",101.0,"1,01%","-0,94%","0,06%","5,00%",NaN,NaN,0
273,AGRX11,NaN,"R$ 10,91",8111.0,"R$ 0,18","1,66%","4,82%","8,31%","0,00%","1,61%",...,"R$ 65.947.420,51","R$ 10,25",106.0,"1,76%","-0,49%","1,26%","2,84%",NaN,NaN,0
132,AIEC11,Lajes Corporativas,"R$ 62,23",11311.0,"R$ 0,77","1,28%","3,77%","7,02%","12,84%","1,26%",...,"R$ 455.490.836,76","R$ 94,40",66.0,"0,82%","0,19%","1,01%","1,20%","0,00%",NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,XPPR11,Outros,"R$ 24,10",7247.0,"R$ 0,10","0,43%","1,15%","3,89%","8,21%","0,38%",...,"R$ 523.050.642,76","R$ 71,49",34.0,"0,14%","3,00%","3,14%","-3,31%","46,00%","0,00%",4
129,XPSF11,Outros,"R$ 7,31",104278.0,"R$ 0,08","1,08%","3,26%","6,36%","12,27%","1,09%",...,"R$ 350.950.564,26","R$ 8,10",90.0,"0,94%","0,51%","1,45%","-3,30%",NaN,NaN,0
2,XTED11,Lajes Corporativas,"R$ 8,82",2223.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 27.688.895,17","R$ 13,26",67.0,NaN,NaN,NaN,NaN,"0,00%","100,00%",1
20,YUFI11B,Residencial,NaN,NaN,"R$ 0,63","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 50.141.745,85","R$ 101,78",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
103,ZAVI11,Híbrido,"R$ 126,00",3110.0,"R$ 1,10","0,87%","1,75%","0,00%","0,00%","0,58%",...,"R$ 118.339.822,03","R$ 127,73",99.0,"0,86%","0,33%","1,20%","3,70%",NaN,NaN,0

In [6]:
df.describe(include='all')

# Note que as colunas numéricas estão com NaN (Not a Number), é necessário mudar o tipo de dado para float (posteriormente).

,Código do fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,DY (3M) Média,...,Patrimônio Líq.,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. no Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira,Quantidade Ativos
count,330,314,323,3.230000e+02,330,325,325,325,325,325,...,319,319,312.00,264,264,264,264,125,31,330.000000
unique,318,11,302,NaN,132,116,193,224,226,112,...,307,299,NaN,116,158,183,224,73,18,NaN
top,RSPD11,Títulos e Val. Mob.,"R$ 10,03",NaN,"R$ 1,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 154.555.664,31","R$ 1.037,21",NaN,"0,75%","-0,02%","0,64%","4,14%","0,00%","0,00%",NaN
freq,9,94,5,NaN,14,32,36,45,67,36,...,9,9,NaN,6,10,8,4,43,14,NaN
mean,NaN,NaN,NaN,2.859762e+04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,inf,NaN,NaN,NaN,NaN,NaN,NaN,2.675758
std,NaN,NaN,NaN,1.839004e+05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.217908
min,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-69.00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,1.935000e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,71.75,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,2.733000e+03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,88.00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,1.970000e+04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,96.00,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
max,NaN,NaN,NaN,3.180000e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,inf,NaN,NaN,NaN,NaN,NaN,NaN,72.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330 entries, 222 to 103
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Código do fundo           330 non-null    object
 1   Setor                     314 non-null    object
 2   Preço Atual               323 non-null    object
 3   Liquidez Diária           323 non-null    float64
 4   Dividendo                 330 non-null    object
 5   Dividend Yield            325 non-null    object
 6   DY (3M) Acumulado         325 non-null    object
 7   DY (6M) Acumulado         325 non-null    object
 8   DY (12M) Acumulado        325 non-null    object
 9   DY (3M) Média             325 non-null    object
 10  DY (6M) Média             325 non-null    object
 11  DY (12M) Média            325 non-null    object
 12  DY Ano                    298 non-null    object
 13  Variação Preço            325 non-null    object
 14  Rentab. Período           325 non-null    object
 15  Rentab. Acumulada         325 non-null    object
 16  Patrimônio Líq.           319 non-null    object
 17  VPA                       319 non-null    object
 18  P/VPA                     312 non-null    float64
 19  DY Patrimonial            264 non-null    object
 20  Variação Patrimonial      264 non-null    object
 21  Rentab. Patr. no Período  264 non-null    object
 22  Rentab. Patr. Acumulada   264 non-null    object
 23  Vacância Física           125 non-null    object
 24  Vacância Financeira       31 non-null     object
 25  Quantidade Ativos         330 non-null    int64
dtypes: float64(2), int64(1), object(23)
memory usage: 69.6+ KB

In [8]:
df['Setor'].unique()

array([nan, 'Shoppings', 'Títulos e Val. Mob.', 'Lajes Corporativas',
       'Logística', 'Híbrido', 'Outros', 'Renda',
       'Títulos e Valores Mobiliários', 'Hospital', 'Residencial',
       'Hotel'], dtype=object)

In [9]:
df.columns

Index(['Código do fundo', 'Setor', 'Preço Atual', 'Liquidez Diária',
       'Dividendo', 'Dividend Yield', 'DY (3M) Acumulado', 'DY (6M) Acumulado',
       'DY (12M) Acumulado', 'DY (3M) Média', 'DY (6M) Média',
       'DY (12M) Média', 'DY Ano', 'Variação Preço', 'Rentab. Período',
       'Rentab. Acumulada', 'Patrimônio Líq.', 'VPA', 'P/VPA',
       'DY Patrimonial', 'Variação Patrimonial', 'Rentab. Patr. no Período',
       'Rentab. Patr. Acumulada', 'Vacância Física', 'Vacância Financeira',
       'Quantidade Ativos'],
      dtype='object')

# 3. Limpeza e Formatação dos Dados

**Dados nulos**

In [10]:
df.isna().sum()

Código do fundo               0
Setor                        16
Preço Atual                   7
Liquidez Diária               7
Dividendo                     0
Dividend Yield                5
DY (3M) Acumulado             5
DY (6M) Acumulado             5
DY (12M) Acumulado            5
DY (3M) Média                 5
DY (6M) Média                 5
DY (12M) Média                5
DY Ano                       32
Variação Preço                5
Rentab. Período               5
Rentab. Acumulada             5
Patrimônio Líq.              11
VPA                          11
P/VPA                        18
DY Patrimonial               66
Variação Patrimonial         66
Rentab. Patr. no Período     66
Rentab. Patr. Acumulada      66
Vacância Física             205
Vacância Financeira         299
Quantidade Ativos             0
dtype: int64

**Limpeza de Dados Categóricos**

In [11]:
categorical_columns = ['Código do fundo', 'Setor']

In [12]:
# Encontrar os valores que estão nulos na coluna 'Setor' e colocar na variável idx

idx = df[df['Setor'].isna()].index
idx

Int64Index([222, 273, 268, 288, 274, 235, 237, 238, 248, 211, 213, 320, 256,
            221, 215, 131],
           dtype='int64')

In [13]:
# Excluir com .drop os valores nulos

df.drop(idx, inplace=True)

In [14]:
df['Setor'].isna().sum()

0

In [15]:
# Transformar as colunas categóricas do tipo 'object' para 'category'

df[categorical_columns] = df[categorical_columns].astype('category')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 314 entries, 174 to 103
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Código do fundo           314 non-null    category
 1   Setor                     314 non-null    category
 2   Preço Atual               307 non-null    object
 3   Liquidez Diária           307 non-null    float64
 4   Dividendo                 314 non-null    object
 5   Dividend Yield            309 non-null    object
 6   DY (3M) Acumulado         309 non-null    object
 7   DY (6M) Acumulado         309 non-null    object
 8   DY (12M) Acumulado        309 non-null    object
 9   DY (3M) Média             309 non-null    object
 10  DY (6M) Média             309 non-null    object
 11  DY (12M) Média            309 non-null    object
 12  DY Ano                    282 non-null    object
 13  Variação Preço            309 non-null    object
 14  Rentab. Período           309 non-null    object
 15  Rentab. Acumulada         309 non-null    object
 16  Patrimônio Líq.           303 non-null    object
 17  VPA                       303 non-null    object
 18  P/VPA                     296 non-null    float64
 19  DY Patrimonial            248 non-null    object
 20  Variação Patrimonial      248 non-null    object
 21  Rentab. Patr. no Período  248 non-null    object
 22  Rentab. Patr. Acumulada   248 non-null    object
 23  Vacância Física           125 non-null    object
 24  Vacância Financeira       31 non-null     object
 25  Quantidade Ativos         314 non-null    int64
dtypes: category(2), float64(2), int64(1), object(21)
memory usage: 73.1+ KB

**Limpeza de Dados Numéricos**

In [17]:
# subset das colunas númericas do tipo float com iloc

df.iloc[:,2:-1]

,Preço Atual,Liquidez Diária,Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,DY (3M) Média,DY (6M) Média,DY (12M) Média,...,Rentab. Acumulada,Patrimônio Líq.,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. no Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira
174,"R$ 68,72",467.0,"R$ 0,50","0,73%","2,29%","4,59%","9,26%","0,76%","0,76%","0,77%",...,"5,94%","R$ 432.278.740,15","R$ 91,80",75.0,"0,54%","0,11%","0,65%","2,52%","7,50%",NaN
306,"R$ 95,60",6134.0,"R$ 1,10","1,15%","3,45%","6,61%","13,90%","1,15%","1,10%","1,16%",...,"6,13%","R$ 286.309.475,82","R$ 94,82",101.0,"1,01%","-0,94%","0,06%","5,00%",NaN,NaN
132,"R$ 62,23",11311.0,"R$ 0,77","1,28%","3,77%","7,02%","12,84%","1,26%","1,17%","1,07%",...,"-5,25%","R$ 455.490.836,76","R$ 94,40",66.0,"0,82%","0,19%","1,01%","1,20%","0,00%",NaN
3,"R$ 764,00",124.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%","0,00%","0,00%",...,"-28,29%","R$ 224.901.265,10","R$ 2.022,91",38.0,NaN,NaN,NaN,NaN,"64,05%",NaN
318,"R$ 91,29",884.0,"R$ 0,85","0,92%","2,97%","4,06%","10,01%","0,99%","0,68%","0,83%",...,"20,62%","R$ 66.447.316,94","R$ 96,13",95.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,"R$ 24,10",7247.0,"R$ 0,10","0,43%","1,15%","3,89%","8,21%","0,38%","0,65%","0,68%",...,"-27,32%","R$ 523.050.642,76","R$ 71,49",34.0,"0,14%","3,00%","3,14%","-3,31%","46,00%","0,00%"
129,"R$ 7,31",104278.0,"R$ 0,08","1,08%","3,26%","6,36%","12,27%","1,09%","1,06%","1,02%",...,"1,34%","R$ 350.950.564,26","R$ 8,10",90.0,"0,94%","0,51%","1,45%","-3,30%",NaN,NaN
2,"R$ 8,82",2223.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%","0,00%","0,00%",...,"-37,83%","R$ 27.688.895,17","R$ 13,26",67.0,NaN,NaN,NaN,NaN,"0,00%","100,00%"
20,NaN,NaN,"R$ 0,63","0,00%","0,00%","0,00%","0,00%","0,00%","0,00%","0,00%",...,"0,00%","R$ 50.141.745,85","R$ 101,78",NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,"R$ 126,00",3110.0,"R$ 1,10","0,87%","1,75%","0,00%","0,00%","0,58%","0,00%","0,00%",...,"1,75%","R$ 118.339.822,03","R$ 127,73",99.0,"0,86%","0,33%","1,20%","3,70%",NaN,NaN

In [18]:
# Colocar as colunas numéricas dentro de uma lista para usar como filtro do DataFrame

col_floats = list(df.iloc[:,2:-1].columns)

In [19]:
# substituir dados nulos nas colunas numéricas com 0

df[col_floats] = df[col_floats].fillna(value=0)

In [20]:
# Dados numéricos zerados

df[col_floats].isna().sum()

Preço Atual                 0
Liquidez Diária             0
Dividendo                   0
Dividend Yield              0
DY (3M) Acumulado           0
DY (6M) Acumulado           0
DY (12M) Acumulado          0
DY (3M) Média               0
DY (6M) Média               0
DY (12M) Média              0
DY Ano                      0
Variação Preço              0
Rentab. Período             0
Rentab. Acumulada           0
Patrimônio Líq.             0
VPA                         0
P/VPA                       0
DY Patrimonial              0
Variação Patrimonial        0
Rentab. Patr. no Período    0
Rentab. Patr. Acumulada     0
Vacância Física             0
Vacância Financeira         0
dtype: int64

**Formatação das colunas de string para floats**

In [21]:
# Aplicar uma função do DataFrame todo para retirar caracteres strings "R$", ".0" e "." 

df[col_floats].applymap(lambda x: str(x).replace('R$', '').replace('.0', '').replace('.', '').replace('%', '').replace(',', '.'))

,Preço Atual,Liquidez Diária,Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,DY (3M) Média,DY (6M) Média,DY (12M) Média,...,Rentab. Acumulada,Patrimônio Líq.,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. no Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira
174,68.72,467,0.50,0.73,2.29,4.59,9.26,0.76,0.76,0.77,...,5.94,432278740.15,91.80,75,0.54,0.11,0.65,2.52,7.50,0
306,95.60,6134,1.10,1.15,3.45,6.61,13.90,1.15,1.10,1.16,...,6.13,286309475.82,94.82,101,1.01,-0.94,0.06,5.00,0,0
132,62.23,11311,0.77,1.28,3.77,7.02,12.84,1.26,1.17,1.07,...,-5.25,455490836.76,94.40,66,0.82,0.19,1.01,1.20,0.00,0
3,764.00,124,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,-28.29,224901265.10,222.91,38,0,0,0,0,64.05,0
318,91.29,884,0.85,0.92,2.97,4.06,10.01,0.99,0.68,0.83,...,20.62,66447316.94,96.13,95,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,24.10,7247,0.10,0.43,1.15,3.89,8.21,0.38,0.65,0.68,...,-27.32,52350642.76,71.49,34,0.14,3.00,3.14,-3.31,46.00,0.00
129,7.31,104278,0.08,1.08,3.26,6.36,12.27,1.09,1.06,1.02,...,1.34,350950564.26,8.10,90,0.94,0.51,1.45,-3.30,0,0
2,8.82,2223,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,-37.83,27688895.17,13.26,67,0,0,0,0,0.00,100.00
20,0,0,0.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,50141745.85,101.78,0,0,0,0,0,0,0
103,126.00,3110,1.10,0.87,1.75,0.00,0.00,0.58,0.00,0.00,...,1.75,118339822.03,127.73,99,0.86,0.33,1.20,3.70,0,0

In [22]:
df[col_floats] = df[col_floats].applymap(lambda x: str(x).replace('R$', '').replace('.0', '').replace('.', '').replace('%', '').replace(',', '.'))

In [23]:
# Transformar o tipo das colunas numéricas para float

df[col_floats] = df[col_floats].astype('float')

In [24]:
df.describe()

# Agora as colunas podem ser calculadas, pois agora estão devidamente formatadas e limpas. 
# Mas as colunas P/VPA possuem valores infinitos e está em um escala diferente

,Preço Atual,Liquidez Diária,Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,DY (3M) Média,DY (6M) Média,DY (12M) Média,...,Patrimônio Líq.,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. no Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira,Quantidade Ativos
count,314.000000,3.140000e+02,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,...,3.140000e+02,314.000000,314.0,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000
mean,201.367357,2.790508e+04,4.929841,1.318025,2.952102,5.168885,9.550732,0.983917,0.861083,0.795924,...,3.991677e+08,465.071146,inf,0.632866,-0.308408,0.321019,1.068917,5.899204,1.065955,2.812102
std,1268.770248,1.863037e+05,42.530721,6.672330,6.884659,7.289536,8.793420,2.294750,1.214976,0.732935,...,7.679545e+08,4131.383043,NaN,0.446899,2.210172,2.204673,8.040984,15.911776,7.118170,7.374057
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.324489e+07,-17.460000,-69.0,0.000000,-21.020000,-18.920000,-89.470000,0.000000,0.000000,0.000000
25%,50.210000,1.532500e+02,0.440000,0.652500,1.912500,3.437500,6.710000,0.640000,0.572500,0.560000,...,5.260816e+07,76.000000,65.0,0.242500,-0.165000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,82.220000,2.599000e+03,0.755000,0.915000,2.740000,5.375000,10.430000,0.910000,0.895000,0.870000,...,1.545557e+08,95.935000,86.0,0.680000,0.000000,0.530000,1.560000,0.000000,0.000000,0.000000
75%,98.300000,1.938475e+04,1.057500,1.130000,3.390000,6.507500,12.870000,1.130000,1.080000,1.070000,...,3.621324e+08,115.095000,95.0,0.947500,0.087500,0.977500,3.295000,0.650000,0.000000,2.000000
max,20999.000000,3.180000e+06,737.000000,114.860000,116.710000,119.510000,123.940000,38.900000,19.920000,10.330000,...,7.727490e+09,65128.340000,inf,2.660000,5.610000,6.940000,15.810000,100.000000,100.000000,72.000000

**Formatação de valores infinitos**

In [25]:
# Checar valores infinitos com Pandas

df[np.isinf(df[col_floats]).any(1)]

,Código do fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,DY (3M) Média,...,Patrimônio Líq.,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. no Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira,Quantidade Ativos
47,KINP11,Residencial,9.82,9168.0,3.05,31.09,36.11,42.61,54.85,12.04,...,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,0.0,0

In [26]:
# excluir o valor com número infinito 

drop_inf = df[np.isinf(df[col_floats]).any(1)].index
df.drop(drop_inf, inplace=True)

**Alteração de escala em uma coluna**

In [107]:
df['P/VPA'] = df['P/VPA']/100

In [108]:
# DataFrame final

df.describe()

,Preço Atual,Liquidez Diária,Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,DY (3M) Média,DY (6M) Média,DY (12M) Média,...,Patrimônio Líq.,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. no Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira,Quantidade Ativos
count,313.000000,3.130000e+02,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,...,3.130000e+02,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000
mean,201.979329,2.796494e+04,4.935847,1.222907,2.846166,5.049265,9.406006,0.948594,0.841150,0.783866,...,4.004430e+08,466.556997,0.034622,0.634888,-0.309393,0.322045,1.072332,5.918051,1.069361,2.821086
std,1270.755490,1.865990e+05,42.598691,6.466272,6.634404,6.985716,8.424610,2.211271,1.164363,0.702223,...,7.688511e+08,4137.914519,0.477857,0.446173,2.213642,2.208128,8.053632,15.933744,7.129312,7.384144
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.324489e+07,-17.460000,-0.006900,0.000000,-21.020000,-18.920000,-89.470000,0.000000,0.000000,0.000000
25%,50.840000,1.530000e+02,0.440000,0.650000,1.910000,3.430000,6.690000,0.640000,0.570000,0.560000,...,5.338071e+07,76.270000,0.006500,0.250000,-0.170000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,82.250000,2.590000e+03,0.750000,0.910000,2.740000,5.370000,10.430000,0.910000,0.890000,0.870000,...,1.545557e+08,96.130000,0.008600,0.680000,0.000000,0.530000,1.560000,0.000000,0.000000,0.000000
75%,98.400000,1.940700e+04,1.050000,1.130000,3.390000,6.500000,12.840000,1.130000,1.080000,1.070000,...,3.624386e+08,115.230000,0.009500,0.950000,0.090000,0.980000,3.300000,0.700000,0.000000,2.000000
max,20999.000000,3.180000e+06,737.000000,114.860000,116.710000,119.510000,123.940000,38.900000,19.920000,10.330000,...,7.727490e+09,65128.340000,8.461500,2.660000,5.610000,6.940000,15.810000,100.000000,100.000000,72.000000

# 4. Análises

**Analisando a média por setor**

In [30]:
df.columns

Index(['Código do fundo', 'Setor', 'Preço Atual', 'Liquidez Diária',
       'Dividendo', 'Dividend Yield', 'DY (3M) Acumulado', 'DY (6M) Acumulado',
       'DY (12M) Acumulado', 'DY (3M) Média', 'DY (6M) Média',
       'DY (12M) Média', 'DY Ano', 'Variação Preço', 'Rentab. Período',
       'Rentab. Acumulada', 'Patrimônio Líq.', 'VPA', 'P/VPA',
       'DY Patrimonial', 'Variação Patrimonial', 'Rentab. Patr. no Período',
       'Rentab. Patr. Acumulada', 'Vacância Física', 'Vacância Financeira',
       'Quantidade Ativos'],
      dtype='object')

In [31]:
indicadores = ['Código do fundo', 
               'Setor',
               'DY (12M) Acumulado',
               'Vacância Física',
               'Vacância Financeira',
               'P/VPA',
               'Quantidade Ativos',
               'Liquidez Diária']

In [34]:
df_aux = df[indicadores]
df_aux

,Código do fundo,Setor,DY (12M) Acumulado,Vacância Física,Vacância Financeira,P/VPA,Quantidade Ativos,Liquidez Diária
174,ABCP11,Shoppings,9.26,7.50,0.0,0.75,1,467.0
306,AFHI11,Títulos e Val. Mob.,13.90,0.00,0.0,1.01,0,6134.0
132,AIEC11,Lajes Corporativas,12.84,0.00,0.0,0.66,2,11311.0
3,ALMI11,Lajes Corporativas,0.00,64.05,0.0,0.38,1,124.0
318,ALZM11,Títulos e Val. Mob.,10.01,0.00,0.0,0.95,0,884.0
...,...,...,...,...,...,...,...,...
172,XPPR11,Outros,8.21,46.00,0.0,0.34,4,7247.0
129,XPSF11,Outros,12.27,0.00,0.0,0.90,0,104278.0
2,XTED11,Lajes Corporativas,0.00,0.00,100.0,0.67,1,2223.0
20,YUFI11B,Residencial,0.00,0.00,0.0,0.00,0,0.0
103,ZAVI11,Híbrido,0.00,0.00,0.0,0.99,0,3110.0

In [38]:
media_setor = df_aux.groupby('Setor').agg(["mean", "std"])
media_setor

                              DY (12M) Acumulado            Vacância Física  \
                                            mean        std            mean
Setor
Hospital                                7.692500   5.311631        0.000000
Hotel                                  11.786667   3.066991       43.300000
Híbrido                                 9.324340   5.248375        2.304151
Lajes Corporativas                      7.479268   4.631868       26.366341
Logística                               9.840000   1.897800        6.947826
Outros                                  9.668974   4.834291        2.342821
Renda                                   0.000000   0.000000        0.000000
Residencial                             1.632632   3.904279        1.600000
Shoppings                               7.228182   3.298015       10.806364
Títulos e Val. Mob.                    13.655957  12.187657        0.000000
Títulos e Valores Mobiliários           0.000000   0.000000        0.000000

                                         Vacância Financeira             \
                                     std                mean        std
Setor
Hospital                        0.000000            0.000000   0.000000
Hotel                          37.498933            0.000000   0.000000
Híbrido                         5.221878            1.062642   4.248689
Lajes Corporativas             29.492080            6.088049  18.350044
Logística                      17.221046            0.421739   1.407757
Outros                          8.022720            0.489231   2.126474
Renda                           0.000000            0.000000   0.000000
Residencial                     6.416645            0.000000   0.000000
Shoppings                      12.131324            0.000000   0.000000
Títulos e Val. Mob.             0.000000            0.000000   0.000000
Títulos e Valores Mobiliários   0.000000            0.000000   0.000000

                                  P/VPA            Quantidade Ativos  \
                                   mean        std              mean
Setor
Hospital                       0.857500   0.051881          0.750000
Hotel                          0.866667   0.217792          9.333333
Híbrido                        0.748491   0.349755          3.415094
Lajes Corporativas             0.680488   0.262878          4.097561
Logística                      0.852174   0.125660          7.347826
Outros                         0.744872   0.270612          5.717949
Renda                          0.084545   0.280406          0.000000
Residencial                    0.355263   0.520378          0.315789
Shoppings                      0.723636   0.216697          4.500000
Títulos e Val. Mob.            9.937553  87.177075          0.063830
Títulos e Valores Mobiliários  0.925000   0.101489          0.000000

                                         Liquidez Diária
                                     std            mean            std
Setor
Hospital                        0.500000      257.000000     201.902617
Hotel                          12.096832      790.000000     760.329534
Híbrido                         5.871817    79119.622642  441926.050195
Lajes Corporativas             10.270844     4305.414634    8303.320486
Logística                       6.019730    10773.043478   17461.256329
Outros                         13.768669    14648.615385   29522.154593
Renda                           0.000000    11328.454545    8942.748899
Residencial                     1.002920    14725.473684   17479.615208
Shoppings                       5.378529     6784.909091   10983.386601
Títulos e Val. Mob.             0.618853    31283.638298   70158.951789
Títulos e Valores Mobiliários   0.000000    16591.000000   12011.074723

In [42]:
media_setor.loc['Residencial', ('DY (12M) Acumulado', 'mean')]

1.6326315789473684

# Criando uma função com uma estratégia para oportunidades do mercado

In [66]:
def oportunidade_media_setor(df, setor='Shoppings', label_setor='Setor'):
    
    media_setor = df_aux.groupby('Setor').agg(["mean", "std"])
    
    df_setor = df[df[label_setor].isin([setor])]
    
    filter_ = (df_setor['Quantidade Ativos'] > 5) &\
              (df_setor['Liquidez Diária'] > 5000) &\
              (df_setor['P/VPA'] < 1.0) &\
              (df_setor['DY (12M) Acumulado'] > media_setor.loc[setor, ('DY (12M) Acumulado', 'mean')])
    
    print('média do setor Yield: {}'.format(media_setor.loc[setor, ('DY (12M) Acumulado', 'mean')]))
    print('média do setor P/VPA: {}'.format(media_setor.loc[setor, ('P/VPA', 'mean')]))
    print('média do setor Ativos: {}'.format(media_setor.loc[setor, ('Quantidade Ativos', 'mean')]))
    
    return df_setor[filter_]

In [63]:
list(df['Setor'].unique())

['Shoppings',
 'Títulos e Val. Mob.',
 'Lajes Corporativas',
 'Logística',
 'Híbrido',
 'Outros',
 'Renda',
 'Títulos e Valores Mobiliários',
 'Hospital',
 'Residencial',
 'Hotel']

In [109]:
oportunidade = oportunidade_media_setor(df_aux, setor='Shoppings')
oportunidade.sort_values('DY (12M) Acumulado', ascending = False, inplace=True)
oportunidade

média do setor Yield: 7.2281818181818185
média do setor P/VPA: 0.7236363636363636
média do setor Ativos: 4.5

,Código do fundo,Setor,DY (12M) Acumulado,Vacância Física,Vacância Financeira,P/VPA,Quantidade Ativos,Liquidez Diária
97,HSML11,Shoppings,10.00,4.5,0.0,0.89,6,28601.0
144,MALL11,Shoppings,8.91,4.0,0.0,0.89,8,26253.0
204,VISC11,Shoppings,8.69,8.3,0.0,0.95,15,22365.0
185,HGBS11,Shoppings,8.63,6.5,0.0,0.95,17,5672.0

**Rascunhos**

In [79]:
media_setor

                              DY (12M) Acumulado            Vacância Física  \
                                            mean        std            mean
Setor
Hospital                                7.692500   5.311631        0.000000
Hotel                                  11.786667   3.066991       43.300000
Híbrido                                 9.324340   5.248375        2.304151
Lajes Corporativas                      7.479268   4.631868       26.366341
Logística                               9.840000   1.897800        6.947826
Outros                                  9.668974   4.834291        2.342821
Renda                                   0.000000   0.000000        0.000000
Residencial                             1.632632   3.904279        1.600000
Shoppings                               7.228182   3.298015       10.806364
Títulos e Val. Mob.                    13.655957  12.187657        0.000000
Títulos e Valores Mobiliários           0.000000   0.000000        0.000000

                                         Vacância Financeira             \
                                     std                mean        std
Setor
Hospital                        0.000000            0.000000   0.000000
Hotel                          37.498933            0.000000   0.000000
Híbrido                         5.221878            1.062642   4.248689
Lajes Corporativas             29.492080            6.088049  18.350044
Logística                      17.221046            0.421739   1.407757
Outros                          8.022720            0.489231   2.126474
Renda                           0.000000            0.000000   0.000000
Residencial                     6.416645            0.000000   0.000000
Shoppings                      12.131324            0.000000   0.000000
Títulos e Val. Mob.             0.000000            0.000000   0.000000
Títulos e Valores Mobiliários   0.000000            0.000000   0.000000

                                  P/VPA            Quantidade Ativos  \
                                   mean        std              mean
Setor
Hospital                       0.857500   0.051881          0.750000
Hotel                          0.866667   0.217792          9.333333
Híbrido                        0.748491   0.349755          3.415094
Lajes Corporativas             0.680488   0.262878          4.097561
Logística                      0.852174   0.125660          7.347826
Outros                         0.744872   0.270612          5.717949
Renda                          0.084545   0.280406          0.000000
Residencial                    0.355263   0.520378          0.315789
Shoppings                      0.723636   0.216697          4.500000
Títulos e Val. Mob.            9.937553  87.177075          0.063830
Títulos e Valores Mobiliários  0.925000   0.101489          0.000000

                                         Liquidez Diária
                                     std            mean            std
Setor
Hospital                        0.500000      257.000000     201.902617
Hotel                          12.096832      790.000000     760.329534
Híbrido                         5.871817    79119.622642  441926.050195
Lajes Corporativas             10.270844     4305.414634    8303.320486
Logística                       6.019730    10773.043478   17461.256329
Outros                         13.768669    14648.615385   29522.154593
Renda                           0.000000    11328.454545    8942.748899
Residencial                     1.002920    14725.473684   17479.615208
Shoppings                       5.378529     6784.909091   10983.386601
Títulos e Val. Mob.             0.618853    31283.638298   70158.951789
Títulos e Valores Mobiliários   0.000000    16591.000000   12011.074723

In [103]:
df_setor2 = df_aux[df_aux['Setor'].isin(['Logística'])]

In [106]:
df_setor2[(df_setor2['Quantidade Ativos'] > 5) &\
              (df_setor2['Liquidez Diária'] > 5000) &\
              (df_setor2['P/VPA'] < 1.0) &\
              (df_setor2['DY (12M) Acumulado'] > media_setor.loc['Logística', ('DY (12M) Acumulado', 'mean')])]

,Código do fundo,Setor,DY (12M) Acumulado,Vacância Física,Vacância Financeira,P/VPA,Quantidade Ativos,Liquidez Diária
233,GGRC11,Logística,10.46,0.0,0.0,0.92,20,5907.0